<header class="header">
    <div class="container nav">
        <a class="brand" href="../index.html">Valhal Exotics</a>
        <nav class="nav" aria-label="Main">
            <a href="../animals.html">Animals</a>
            <a href="index.html">Care Sheets</a>
            <a href="https://www.morphmarket.com/stores/valhalexotics/" target="_blank" rel="noopener">Contact</a>
            <a href="https://www.facebook.com/valhalexo" target="_blank" rel="noopener"> Facebook</a>
        </nav>
    </div>
</header>