<header class="header">
    <div class="container nav">
        <a class="brand" href="../index.html">Valhal Exotics</a>
        <nav class="nav" aria-label="Main">
            <a href="../animals.html">Animals</a>

            <div class="dropdown">
                <button class="dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                    Care Sheets
                </button>
                <div class="dropdown-menu" role="menu" aria-label="Care Sheet Links">
                    <a href="/care/index.html">All Care Sheets</a>
                    <a href="/fox.html">Fox Care Sheet</a>
                    <a href="/care/blue-tongue-skink.html">Blue Tongue Care</a>
                    <a href="/care/western-hognose.html">Western Hognose Care</a>
                    <a href="/care/index.html#mantids">Mantis Care Sheets</a>
                </div>
            </div>

            <a href="https://www.morphmarket.com/stores/valhalexotics/" target="_blank" rel="noopener">Contact</a>
            <a href="https://www.facebook.com/valhalexo" target="_blank" rel="noopener"> Facebook</a>
        </nav>
    </div>
</header>
